In [2]:
import pandas as pd
import numpy as np
import json

input_path = "/Users/jhoff/Universität St.Gallen/STUD-Capstoneproject Tell 6 - Dokumente/General/02-Coding/01-Data/12_annotated_batches/batch1_jona.jsonl"

In [9]:
#data = pd.read_json("/Users/jonathanebner/Universität St.Gallen/STUD-Capstoneproject Tell 6 - General/02-Coding/01-Data/12_annotated_batches/batch1_jonathan.jsonl")

In [3]:
with open(input_path, "r", encoding="utf8") as json_file:
    annotated_recipes = [json.loads(line) for line in json_file]

FileNotFoundError: [Errno 2] No such file or directory: '/Users/jhoff/Universität St.Gallen/STUD-Capstoneproject Tell 6 - Dokumente/General/02-Coding/01-Data/12_annotated_batches/batch1corjona60.jsonl'

In [60]:
data = pd.DataFrame(annotated_recipes)
print("Rows:", data.shape[0])
print("Columns:", data.shape[1])
data.head(2)

Rows: 60
Columns: 9

,text,_input_hash,_task_hash,spans,tokens,_session_id,_view_id,relations,answer
0,Aus Alufolie 6 Quadrate mit einer Seitenlänge ...,-1419350754,516584963,"[{'text': 'Aus', 'start': 0, 'token_start': 0,...","[{'text': 'Aus', 'start': 0, 'end': 3, 'id': 0...",None,relations,"[{'head': 10, 'child': 9, 'head_span': {'start...",accept
1,"Das Gemüse putzen bzw. waschen, klein würfeln ...",1854189371,-1127378166,"[{'text': 'Gemüse', 'start': 4, 'token_start':...","[{'text': 'Das', 'start': 0, 'end': 3, 'id': 0...",None,relations,"[{'head': 2, 'child': 1, 'head_span': {'start'...",accept

In [108]:
data2 = pd.DataFrame()
data2["text"] = data["text"]
data2["Anzahl Wörter"] = data["text"].apply(lambda x: len(x.split()))
data2["Anzahl Spans"] = data["spans"].apply(lambda x: len(x))
data2["Anzahl Tokens"] = data["tokens"].apply(lambda x: len(x))
data2["Anzahl Relations"] = data["relations"].apply(lambda x: len(x))

In [109]:
data2.head(2)

,text,Anzahl Wörter,Anzahl Spans,Anzahl Tokens,Anzahl Relations
0,Aus Alufolie 6 Quadrate mit einer Seitenlänge ...,106,60,122,50
1,"Das Gemüse putzen bzw. waschen, klein würfeln ...",123,54,160,53

In [110]:
data2["Anzahl Arg0"] = data["relations"].apply(lambda x: [x[i]["label"] for i in range(len(x))].count("ARG0"))
data2["Anzahl Arg1"] = data["relations"].apply(lambda x: [x[i]["label"] for i in range(len(x))].count("ARG1"))
data2["Anzahl Arg"] = data["relations"].apply(lambda x: [x[i]["label"] for i in range(len(x))].count("ARG"))

In [111]:
data2.head(2)

,text,Anzahl Wörter,Anzahl Spans,Anzahl Tokens,Anzahl Relations,Anzahl Arg0,Anzahl Arg1,Anzahl Arg
0,Aus Alufolie 6 Quadrate mit einer Seitenlänge ...,106,60,122,50,19,10,21
1,"Das Gemüse putzen bzw. waschen, klein würfeln ...",123,54,160,53,26,11,16

In [112]:
data2["Anzahl Zutaten"] = data["spans"].apply(lambda x: [x[i]["label"] for i in range(len(x))].count("Z"))
data2["Anzahl V"] = data["spans"].apply(lambda x: [x[i]["label"] for i in range(len(x))].count("V"))
data2["Anzahl Tools"] = data["spans"].apply(lambda x: [x[i]["label"] for i in range(len(x))].count("TOOL"))
data2["Anzahl Zeitpunkte"] = data["spans"].apply(lambda x: [x[i]["label"] for i in range(len(x))].count("ZEITP"))
data2["Anzahl Dauer"] = data["spans"].apply(lambda x: [x[i]["label"] for i in range(len(x))].count("DAUER"))
data2["Anzahl Attribut"] = data["spans"].apply(lambda x: [x[i]["label"] for i in range(len(x))].count("ATTR"))
data2["Anzahl Temperatur"] = data["spans"].apply(lambda x: [x[i]["label"] for i in range(len(x))].count("TEMP"))
data2["Anzahl Präposition"] = data["spans"].apply(lambda x: [x[i]["label"] for i in range(len(x))].count("PRÄP"))

In [120]:
data2.describe().round(2)

,Anzahl Wörter,Anzahl Spans,Anzahl Tokens,Anzahl Relations,Anzahl Arg0,Anzahl Arg1,Anzahl Arg,Anzahl Zutaten,Anzahl V,Anzahl Tools,Anzahl Zeitpunkte,Anzahl Dauer,Anzahl Attribut,Anzahl Temperatur,Anzahl Präposition
count,60.00,60.00,60.00,60.00,60.00,60.00,60.00,60.00,60.00,60.00,60.00,60.00,60.00,60.00,60.00
mean,101.20,54.50,123.73,48.02,22.07,9.13,16.82,18.00,17.08,2.42,1.78,1.88,5.55,0.77,7.02
std,32.83,16.24,39.50,13.29,7.19,3.68,5.45,5.51,5.95,2.00,1.85,1.46,2.83,0.79,2.88
min,18.00,10.00,24.00,15.00,5.00,1.00,2.00,5.00,3.00,0.00,0.00,0.00,1.00,0.00,1.00
25%,77.75,40.75,96.75,38.00,17.75,7.00,13.00,14.75,13.00,1.00,0.00,1.00,4.00,0.00,5.00
50%,97.50,56.50,119.50,50.00,23.00,9.00,17.00,18.00,17.00,2.00,2.00,1.50,5.00,1.00,7.00
75%,123.25,65.00,153.00,57.25,27.25,11.25,21.00,22.00,21.25,3.00,3.00,3.00,7.00,1.00,9.00
max,168.00,87.00,206.00,75.00,35.00,17.00,30.00,31.00,31.00,11.00,7.00,5.00,15.00,3.00,14.00